.separator {
  background-color: #fff;
  background-color: $color-grey;
  text-align: center;
  justify-self: center;
  margin-left: 5rem;
  margin-right: 5rem;

  @media only screen and (max-width: 43.75em) {  
    padding: .3rem;
    margin-left: 3rem;
    margin-right: 3rem;
  }

  @media only screen and (max-width: 37.5em) {  
    margin-left: 2rem;
    margin-right: 2rem;
  }
  
  &__title {
    padding: 3rem;

    @media only screen and (max-width: 43.75em) {  
      padding: 1rem;
    }
  }
}