.skills {
  padding: 5rem;

  display: grid;
  grid-template-columns: repeat(2, max-content);
  grid-gap: 10rem;
  justify-content: center;

  @media only screen and (max-width: 43.75em) {  
    grid-gap: 5rem;
    padding: 2rem;
  }
}