.about {
  // background-color: $color-grey;
  color: $color-primary;
  // padding-top: 15rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
  text-align: center;

  &__text {    
    font-size: 1.8rem;
    font-weight: 300;
    padding: 0 50rem;
    line-height: 1.7;
  }
}