.experience {
  padding-top: 5rem;
  padding-bottom: 5rem;
  margin-left: 5rem;
  margin-right: 5rem;

  @media only screen and (max-width: 43.75em) {  
    padding: 0;
    margin-left: 3rem;
    margin-right: 3rem;
  }
}