*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

/* screen size: <= 1200px; html font-size: 9px */
@media only screen and (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}

/* screen size: <= 900px; html font-size: 8px */
@media only screen and (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
  
}

body {
  box-sizing: border-box;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 1.6rem;
}
